<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/waleedSystem</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/waleedSystem</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Sales_And_Inventory_MIS.Models.DbContextClass" Order="1" Enabled="False">
          <Destination Path="Data Source=NAVEED_PC\SQLEXPRESS;Initial Catalog=Sales_And_Inventory_MIS.Models.DbContextClass;Integrated Security=True" Name="Data Source=NAVEED_PC\SQLEXPRESS;Initial Catalog=Sales_And_Inventory_MIS.Models.DbContextClass;Trusted_Connection=false;Integrated Security=True;MultipleActiveResultSets=True;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Sales_And_Inventory_MIS.Models.DbContextClass, ASP.NET_MVC5_Bootstrap3_3_4_LESS" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=NAVEED_PC\SQLEXPRESS;Initial Catalog=Sales_And_Inventory_MIS.Models.DbContextClass;Integrated Security=True" Name="Data Source=NAVEED_PC\SQLEXPRESS;Initial Catalog=Sales_And_Inventory_MIS.Models.DbContextClass;Trusted_Connection=false;Integrated Security=True;MultipleActiveResultSets=True;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=Naveed_PC\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-MVC5Bootstrap-3-1-1-Less-20140302121355.mdf;Initial Catalog=aspnet-MVC5Bootstrap-3-1-1-Less-20140302121355;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=Naveed_PC\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-MVC5Bootstrap-3-1-1-Less-20140302121355.mdf;Initial Catalog=aspnet-MVC5Bootstrap-3-1-1-Less-20140302121355;       Trusted_Connection=false;Integrated Security=True;MultipleActiveResultSets=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=NAVEED_PC\SQLEXPRESS;Initial Catalog=Sales_And_Inventory_MIS.Models.DbContextClass;Trusted_Connection=false;Integrated Security=True;MultipleActiveResultSets=True;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Sales_And_Inventory_MIS.Models.DbContextClass-Web.config Connection String">
      <ParameterValue>Data Source=NAVEED_PC\SQLEXPRESS;Initial Catalog=Sales_And_Inventory_MIS.Models.DbContextClass;Trusted_Connection=false;Integrated Security=True;MultipleActiveResultSets=True;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Sales_And_Inventory_MIS.Models.DbContextClass" />
  </ItemGroup>
</Project>